<div class="heading-container p-4 position-relative">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="d-flex align-items-center m-0">Cruz Cordero Leon</h1>
    <div class="md-navbar d-md-flex justify-content-center gap-4 d-none">
      <p>About me</p>
      <p>Work experience</p>
      <p>Projects</p>
    </div>
    <app-hamburger-menu></app-hamburger-menu>
  </div>
</div>
<div class="navbar-container w-100" style="background-color: black">
  <app-navbar></app-navbar>
</div>
